
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

%flex {
  display: flex !important;
}

%flex-column {
  display: flex !important;
  flex-direction: column !important;
}

%flex-c-c {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

%grid-c-c {
  display: grid !important;
  justify-content: center !important;
  align-items: center !important;
}

%flex-sa-c {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

%flex-se-c {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

%flex-sb-c {
  display: flex !important;
  justify-content: space-between!important;
  align-items: center !important;
}

%flex-c-0 {
  display: flex !important;
  justify-content: center !important;
}

%flex-0-c {
  display: flex !important;
  align-items: center !important;
}

.isHoverable:hover {
  cursor: pointer;
}

.isError {
  color: #cd201f;
}

#app {
  height: 100%;
}

.has-flex {
  @extend %flex;
}

.has-none {
  display: none !important;
}

.has-flex-column {
  @extend %flex-column;
}

[v-cloak] {
  display: none;
}

main {
  padding-top: 120px;
  padding-bottom: 10px;
  width: 85%;
  border-bottom: none !important;
  z-index: 1;
  @extend %flex-column;
  margin: auto;
}

